#home .games-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

#home .game:hover{
  transition: .4s;
  transform: scale(1.0);
}

#home .game:hover{
  transform: scale(1.1);
}

#home .not-found-game{
  font-size: 2em;
  color: #0d6efd;
  text-align: center;
}